@charset "UTF-8";

html, body {
	user-select: none;
	-webkit-print-color-adjust: exact; 
	height: 100%;
	margin: 0;
}


.blink_me {
	animation: blinker 1s ease-in infinite;
}
@keyframes blinker {  
	50% { opacity: .4; }
}


@-webkit-keyframes Gradient {
	0% {background-position: 30% 50%}
	50% {background-position: 25% 50%}
	100% {background-position: 30% 50%}
}




.glitch {
  color: white;
  font-size: 60px;
  position: relative;
  width:100%;
  text-align:center;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(88px, 9999px, 98px, 0);
  }
  5% {
    clip: rect(39px, 9999px, 2px, 0);
  }
  10% {
    clip: rect(11px, 9999px, 17px, 0);
  }
  15% {
    clip: rect(37px, 9999px, 22px, 0);
  }
  20% {
    clip: rect(85px, 9999px, 2px, 0);
  }
  25% {
    clip: rect(45px, 9999px, 15px, 0);
  }
  30% {
    clip: rect(62px, 9999px, 36px, 0);
  }
  35% {
    clip: rect(77px, 9999px, 36px, 0);
  }
  40% {
    clip: rect(79px, 9999px, 81px, 0);
  }
  45% {
    clip: rect(51px, 9999px, 82px, 0);
  }
  50% {
    clip: rect(72px, 9999px, 61px, 0);
  }
  55% {
    clip: rect(49px, 9999px, 68px, 0);
  }
  60% {
    clip: rect(46px, 9999px, 19px, 0);
  }
  65% {
    clip: rect(56px, 9999px, 57px, 0);
  }
  70% {
    clip: rect(19px, 9999px, 81px, 0);
  }
  75% {
    clip: rect(48px, 9999px, 44px, 0);
  }
  80% {
    clip: rect(14px, 9999px, 93px, 0);
  }
  85% {
    clip: rect(24px, 9999px, 48px, 0);
  }
  90% {
    clip: rect(2px, 9999px, 47px, 0);
  }
  95% {
    clip: rect(87px, 9999px, 100px, 0);
  }
  100% {
    clip: rect(50px, 9999px, 59px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px -1px #256966;
  top: 0;
  width:100%;
  text-align:center;
  background: rgba(0,0,0,.1);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(95px, 9999px, 2px, 0);
  }
  5% {
    clip: rect(95px, 9999px, 92px, 0);
  }
  10% {
    clip: rect(19px, 9999px, 86px, 0);
  }
  15% {
    clip: rect(3px, 9999px, 31px, 0);
  }
  20% {
    clip: rect(70px, 9999px, 4px, 0);
  }
  25% {
    clip: rect(29px, 9999px, 55px, 0);
  }
  30% {
    clip: rect(70px, 9999px, 80px, 0);
  }
  35% {
    clip: rect(1px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(48px, 9999px, 52px, 0);
  }
  45% {
    clip: rect(53px, 9999px, 18px, 0);
  }
  50% {
    clip: rect(1px, 9999px, 28px, 0);
  }
  55% {
    clip: rect(40px, 9999px, 54px, 0);
  }
  60% {
    clip: rect(62px, 9999px, 60px, 0);
  }
  65% {
    clip: rect(94px, 9999px, 36px, 0);
  }
  70% {
    clip: rect(79px, 9999px, 16px, 0);
  }
  75% {
    clip: rect(66px, 9999px, 5px, 0);
  }
  80% {
    clip: rect(63px, 9999px, 22px, 0);
  }
  85% {
    clip: rect(36px, 9999px, 57px, 0);
  }
  90% {
    clip: rect(38px, 9999px, 69px, 0);
  }
  95% {
    clip: rect(38px, 9999px, 91px, 0);
  }
  100% {
    clip: rect(18px, 9999px, 48px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #ff0000;
  top: 0;
  width:100%;
  text-align:center;
  background: rgba(0,0,0,.1);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
